@import '../styles/resources';

.header {
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 21px 0;
  font-size: 14px;
  //position: fixed;
  //top: 0;
  width: 100%;
  z-index: 999;

  &__content {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  &__logo {
    img {
      width: 101px;
    }
  }

  &__nav {
    ul {
      display: flex;
      li {
        padding: 7px 12px;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
    a {
      font-weight: bold;
      color: #000;
    }

    &_active {
      text-decoration: underline;
      color: $orange;
    }
  }
}
